.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___characteristics {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  font-size: 18pt;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.fighter-preview___img {
  width: 100%;
  height: 400px;
}
